In [1]:
import pandas as pd

In [2]:
ROOT_FOLDER = "../../../hdd/storage/siim_covid_detection/"

### Read source data

In [3]:
df_image = pd.read_csv(ROOT_FOLDER + "kaggle_input/train_image_level.csv")
print("df_image.shape = ", df_image.shape)
df_image.head()

df_image.shape =  (6334, 4)

,id,boxes,label,StudyInstanceUID
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e

In [4]:
df_image['StudyInstanceUID'] += '_study'
df_image.rename(columns={'id': 'image_id'}, inplace=True)
df_image.rename(columns={'StudyInstanceUID': 'study_id'}, inplace=True)
df_image.head()

,image_id,boxes,label,study_id
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75_study
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed_study
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7_study
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2_study
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e_study

In [5]:
df_study = pd.read_csv(ROOT_FOLDER + "kaggle_input/train_study_level.csv")
print("df_study.shape = ", df_study.shape)
df_study.head()

df_study.shape =  (6054, 5)

,id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
0,00086460a852_study,0,1,0,0
1,000c9c05fd14_study,0,0,0,1
2,00292f8c37bd_study,1,0,0,0
3,005057b3f880_study,1,0,0,0
4,0051d9b12e72_study,0,0,0,1

In [6]:
df_study.rename(columns={'id': 'study_id'}, inplace=True)
df_study.head()

,study_id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
0,00086460a852_study,0,1,0,0
1,000c9c05fd14_study,0,0,0,1
2,00292f8c37bd_study,1,0,0,0
3,005057b3f880_study,1,0,0,0
4,0051d9b12e72_study,0,0,0,1

## Generate new data

In [7]:
df_result = df_image.merge(df_study, on='study_id')
print("df_result.shape = ", df_result.shape)
df_result.head()

df_result.shape =  (6334, 8)

,image_id,boxes,label,study_id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75_study,0,1,0,0
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed_study,1,0,0,0
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7_study,0,1,0,0
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2_study,0,0,0,1
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e_study,0,1,0,0

## Explore new data

In [8]:
df_result[df_result['study_id']=='00f9e183938e_study']

,image_id,boxes,label,study_id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
2641,6534a837497d_image,NaN,none 1 0 0 1 1,00f9e183938e_study,0,0,0,1
2642,74077a8e3b7c_image,"[{'x': 2175.24285, 'y': 1123.72368, 'width': 4...",opacity 1 2175.24285 1123.72368 2607.50603 162...,00f9e183938e_study,0,0,0,1

In [9]:
df_result[(df_result['label']=="none 1 0 0 1 1")&(df_result['Negative for Pneumonia']==1)]

,image_id,boxes,label,study_id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed_study,1,0,0,0
6,0023f02ae886_image,NaN,none 1 0 0 1 1,2fa400b873f5_study,1,0,0,0
25,00e3a7e91a34_image,NaN,none 1 0 0 1 1,74ba8f2badcb_study,1,0,0,0
26,0d4d6acc9ed3_image,NaN,none 1 0 0 1 1,74ba8f2badcb_study,1,0,0,0
27,93a881fb3292_image,NaN,none 1 0 0 1 1,74ba8f2badcb_study,1,0,0,0
...,...,...,...,...,...,...,...,...
6322,ff7659762b75_image,NaN,none 1 0 0 1 1,4aa11ef1fd38_study,1,0,0,0
6324,ff9f10a24c27_image,NaN,none 1 0 0 1 1,a937614104e3_study,1,0,0,0
6325,ffa9fef3c7bf_image,NaN,none 1 0 0 1 1,5133bbb7b75c_study,1,0,0,0
6329,ffcc6edd9445_image,NaN,none 1 0 0 1 1,7e6c68462e06_study,1,0,0,0
6330,ffd91a2c4ca0_image,NaN,none 1 0 0 1 1,8332bdaddb6e_study,1,0,0,0

In [10]:
df_result[(df_result['label']=="none 1 0 0 1 1")&(df_result['Negative for Pneumonia']==0)]

,image_id,boxes,label,study_id,Negative for Pneumonia,Typical Appearance,Indeterminate Appearance,Atypical Appearance
22,00c1515729a8_image,NaN,none 1 0 0 1 1,1a58b43cf286_study,0,1,0,0
31,0102b5cac730_image,NaN,none 1 0 0 1 1,81f6b4b343f7_study,0,1,0,0
32,b3ffe59e37c7_image,NaN,none 1 0 0 1 1,81f6b4b343f7_study,0,1,0,0
76,025bf835bba6_image,NaN,none 1 0 0 1 1,f4ead5d70ba6_study,0,0,0,1
129,04a0b90d7875_image,NaN,none 1 0 0 1 1,effcdb73627e_study,0,1,0,0
...,...,...,...,...,...,...,...,...
6194,fa38e3491eec_image,NaN,none 1 0 0 1 1,8087e3bc0efe_study,0,0,0,1
6213,fb38bfebfabd_image,NaN,none 1 0 0 1 1,37f638aff743_study,0,0,0,1
6282,fe1ce39cfa13_image,NaN,none 1 0 0 1 1,71e052c9da68_study,0,0,0,1
6312,fef5d9dd40e4_image,NaN,none 1 0 0 1 1,4b4d19205cf6_study,0,0,0,1
6320,ff4cd60f14b7_image,NaN,none 1 0 0 1 1,be16979f2071_study,0,0,0,1

In [11]:
df_result.to_csv(ROOT_FOLDER + "resized_images_from_kaggle/csv_tabular/" + "train_study_image.csv", index=False)